body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 29, 66);
}

.arrows-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    background-color: rgba(117, 117, 117, 0.566);
    width: 300px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: white;
}

.left-right {
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.up-down {
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.active-arrow{
    color: rgba(118, 12, 142, 0.833);
    transform: scale(1.1);
    transition: 300ms;
}

.fa-solid{
    transition: 300ms;
}
